
.header{
    display : flex;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 2px;
    display: flex;
}

a{
    text-decoration: none;
    margin-left: 10px;
}

.input{
    padding : 10px;
    text-align: center;
    margin : 0 auto;
}

.flex{
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    cursor: pointer;
    padding : 5px;
}